{
  "extends": ["next/core-web-vitals", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "eqeqeq": "warn",
    "no-unused-expressions": "error",
    "no-unused-vars": "error"
  }
}
